# Environment
.env
.env.local
.env.*.local
./backend/.env
./frontend/.env

# Dependencies
node_modules/

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

*.secret.yml
secret.yml
secrets.yml
**/secret.yml

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln