[defaults]
# use this file as default
inventory = inventory.ini 

# automatically accept the server's SSH key
host_key_checking = false 

# by default, if a playbook fails, Ansible creates a .retry file -> This prevent that to keep project directory cleaner
# callback controls how Ansible displays its output
retry_files_enabled = false
stdout_callback = default

# Ansible modules run Python on the target machine. -> suppresses those warnings
interpreter_python = auto_silent

[ssh_connection]
# With pipelining enabled, Ansible reduces the number of SSH operations, making playbooks execute faster
pipelining = True


